<a href="https://colab.research.google.com/github/NhuY26/b-i-15-11/blob/main/b%C3%A0i_2_15_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#15
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5)
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [6]:
#16
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3= tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [11]:
#17
tup1 = ('physics', 'chemistry', 1997, 2000)
print(tup1)
del(tup1)
print ("after deleting tup1 : ")
print(tup1)

('physics', 'chemistry', 1997, 2000)
after deleting tup1 :

NameError: ignored

In [17]:
#20
T = ['red', 'yellow', 'green']
print(T[2],   T[-2],   T[1:])

green yellow ['yellow', 'green']

In [21]:
#21
print(len((1, 2, 3)))

print((1, 2, 3) + (4, 5, 6))

print(('Hi!') * 3)

print(3 in (1, 2, 3))

for x in (1, 2, 3): print(x)

3
(1, 2, 3, 4, 5, 6)
Hi!Hi!Hi!
True
1
2
3

In [43]:
#24
dict1 = {'name': 'Zara', 'age': 7, 'class': 'first'}
print("dict['name']: ", dict1['name'])
print("dict['age']: ", dict1['age'])

dict['name']:  Zara
dict['age']:  7

In [45]:
#25
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict1['Age'] = 8; # update existing entry
dict1['School'] = "DPS School"; # Add new entry
print("dict['Age']: ", dict1['Age'])
print("dict['School']: ", dict1['School'])

dict['Age']:  8
dict['School']:  DPS School

In [44]:
#26
dict2 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict2['Name'] 
dict2.clear() 
del dict2

In [42]:
#28

d1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

print("Before clear: ", d1)

d2 = d1.copy()

d1.clear()

print("After clear: ", d1)

print("d2 : ", d2)

print("Name: ",d2.get("Name"))

print(d2.items())

print(d2.keys())

d1.update(d2)

print(d1.values())

print("After update d2: ", d1)

Before clear:  {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
After clear:  {}
d2 :  {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
Name:  Zara
dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])
dict_keys(['Name', 'Age', 'Class'])
dict_values(['Zara', 7, 'First'])
After update d2:  {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [49]:
#31
# Same as {"a", "b", "c"}
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
# Adding element to the set
Set.add("d")
print("\nSet after adding: ")
print(Set)

Set:
{'a', 'c', 'b'}

Set after adding:
{'a', 'd', 'c', 'b'}

In [33]:
#32
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
  people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

People:
{'Idrish', 'Jay', 'Archi'}

Set after adding element: {'Idrish', 1, 2, 3, 4, 5, 'Jay', 'Archi', 'Daxit'}

In [34]:
#33
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Fri', 'Sat', 'Thu', 'Wed', 'Mon', 'Tue'}

In [35]:
#34
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
# This method will remove
# all the elements of the set
set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [37]:
#37
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Intersection using intersection() function
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
# Intersection using "&" operator
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [38]:
#38
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

In [39]:
#41
import time; # This is required to include time module.
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
#Number of ticks since 12:00am, January 1, 1970: 7186862.73399
localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 12:00am, January 1, 1970: 1636963678.5539842
Local current time : time.struct_time(tm_year=2021, tm_mon=11, tm_mday=15, tm_hour=8, tm_min=7, tm_sec=58, tm_wday=0, tm_yday=319, tm_isdst=0)

In [40]:
#42
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Mon Nov 15 08:08:17 2021

In [41]:
#43
import calendar
cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)

Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31