<a href="https://colab.research.google.com/github/NhuY26/b-i-15-11/blob/main/b%C3%A0i_15_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#5 
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5 ]
list3 = ["a", "b", "c", "d"]
print(list1, list2, list3)

#6 
list4 = ['physics', 'chemistry', 1997, 2000]
list5 = [1, 2, 3, 4, 5, 6, 7 ]
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

['physics', 'chemistry', 1997, 2000] [1, 2, 3, 4, 5] ['a', 'b', 'c', 'd']
list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [ ]:
#7
list2 = ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print("New value available at index 2 : ")
print(list[2])

Value available at index 2 :
2001
New value available at index 2 :
2001

In [ ]:
#8 
list6 = ['physics', 'chemistry', 1997, 2000]
print(list6)
del list6[2]
print("After deleting value at index 2 : ")
print(list6)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [ ]:
#9 
list7 = len([1, 2, 3])
list8 = [1, 2, 3] + [4, 5, 6]
list9 = ['Hi!'] * 3
list10 = 3 in [1, 2, 3]
print(list7, '\n', list8, '\n', list9, '\n', list10)

3
 [1, 2, 3, 4, 5, 6]
 ['Hi!', 'Hi!', 'Hi!']
 True

In [ ]:
#10 
L = ['red', 'yellow', 'green']
print(L[2], '\n', L[-2], '\n', L[1:])

#11
import math
list11 = [1, 2, 3, 4, 5]
print(len(list11), '\n', max(list11), '\n', min(list11))

green
 yellow
 ['yellow', 'green']
5
 5
 1

In [ ]:
#12
list11.append('so')
print(list11)
list11.count('so')
print(list11)
list11.extend('9')
print(list11)
list11.index('so')

[1, 2, 3, 4, 5, 'so', 'so', 'so', 'so', 'so', 'so', 'so', 'so']
[1, 2, 3, 4, 5, 'so', 'so', 'so', 'so', 'so', 'so', 'so', 'so']
[1, 2, 3, 4, 5, 'so', 'so', 'so', 'so', 'so', 'so', 'so', 'so', '9']

5